<body>

    <div class="wrapper">
        <h2 id="head_log">Login</h2>
        <form #LogIn = "ngForm" (ngSubmit)="login(LogIn.value)">
            <div class="input_box">
                <span class="icon"><fa-icon [icon]="email"></fa-icon></span>
                <input type="email" class="inpt" name="email" ngModel>
                <label for="email">Email</label>
            </div>
            <div class="input_box">
                <span class="icon"><fa-icon [icon]="password"></fa-icon></span>
                <input type="password" class="inpt" name="password" ngModel>
                <label for="password">Password</label>
            </div>
            <div class="input_box">
                
                <button type="submit" class="btn">Login</button>
            </div>
            
            
        </form>
        <div class="register">
                
            <p>Don't have account? <a routerLink="/api/v1/sign-up" class="register-link">Register</a></p>
        </div>
    </div>

</body>