<body>

    <div class="wrapper">
        <h2 id="head_log">Register</h2>
        <form action="#">
            <div class="input_box">
                <span class="icon"><fa-icon [icon]="email"></fa-icon></span>
                <input type="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="input_box">
                <span class="icon"><fa-icon [icon]="password"></fa-icon></span>
                <input type="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <div class="input_box">
                <label for="remember"><input type="checkbox">Remember</label>
                <a href="#">Forget Password?</a>
                <button type="submit" class="btn">Login</button>
            </div>
            
            <div class="register">
                <p>Don't have account? <a routerLink="sign-up" class="register-link">Register</a></p>
            </div>
        </form>
    </div>

</body>