/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

/* .container{
    padding: 8px;
    background-color: black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
} */
