<div class="container">
    <div class="card" style="width: 15rem;">
        <img routerLink=
        "/api/v1/dashboard/add-staff" 
        src="assets/addStaff.png" 
        class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Add Staff</h5>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img routerLink=
        "/api/v1/dashboard/staff" 
        src="assets/staffs.png" 
        class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Staffs</h5>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img routerLink="/api/v1/dashboard/schedule-time" 
        src=
        "assets/timetable.jpg" 
        class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Time Schedule</h5>

        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img src=
        "assets/ss.png" 
        class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Staff Schedule</h5>
            
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img src=
        "assets/ProfileAvtar.jpg" 
        class="card-img-top" alt="profile">
        <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p class="card-text">Check out your profile</p>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img src=
        "assets/notification.jpg" 
        class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Alerts</h5>
            <p class="card-text">Check the alert notifications</p>
        </div>
    </div>


</div>